/* 
    Colors
*/
$bg_light: hsl(0, 0%, 98%); // Very Dark Blue (Dark Mode Background)
$bg_dark: hsl(207, 26%, 17%); // Dark Blue (Dark Mode Elements)
$elements_dark: hsl(209, 23%, 22%); // Dark Blue (Dark Mode Elements)
$color_white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$text_light: hsl(200, 15%, 8%); // Very Dark Blue (Light Mode Text)
$input_light: hsl(0, 0%, 52%); // Dark Gray (Light Mode Input)

$shadow_light: rgb(230,230,230); 
$shadow_dark: rgb(40,40,40);

/* 
    Typography
*/

// Body
/* 
- Homepage Items: 14px
- Detail Page: 16px  
*/

// Font
/* 
Weights: 300, 600, 800 
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    background-color: $bg_light;
    font-weight: 300;
}

body.dark-mode{
    background-color: $bg_dark;
}

li{
    list-style: none;
}

.d-none{
    display: none;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */


/* 
    Header 
*/
.container{
    margin: auto;
    width: 90%;
}

header{
    background-color: $color_white;
    box-shadow: 0 1px 5px $shadow_light;
    padding: 1.5% 0;
}

header.dark-mode{
    background-color: $elements_dark;
    box-shadow: 0 1px 5px $shadow_dark;
    color: $color_white;
    transition: background-color, box-shadow, color .2s;
}

.header__contentNav{
    display: flex;
    justify-content: space-between;

    .content_title h1{
        font-weight: 700;
        font-size: 1.6em;
    }

    .content_mode{
        display: flex;
        flex-direction: column;
        justify-content: center;

        > p {
            &:hover{
                cursor: pointer;
            }
        }
        p{
            font-size: 1.1em;
            font-weight: 500;
        }
        i {
            margin-right: .3em;
        }

        p.active {
            display: none;
        }

        
    }
}



/* 
    Main
*/

.content_filters{
    margin: 3em 0;

    display: grid;
    grid-template-columns: 40% 1fr 15%;

    > div{
        background-color: $color_white;
        padding: 1.5em;
        box-shadow: 1px 1px 7px $shadow_light;
        border-radius: 5px;
        
    }
    
    &.dark-mode > div{
        background-color: $elements_dark;
        box-shadow: 1px 1px 5px $shadow_dark;
        transition: background-color, box-shadow, color .2s;
    }
    &.dark-mode {
        /* Search */
        .content_search form {
            label{
                color: $color_white;
                opacity: .8;
            }
            input{
                background-color: $elements_dark;
                color: $color_white; 
                &::placeholder {
                    opacity: .8;
                    color: $color_white;
                }
            }
        }
        /* Filter */
        .content_select div{
            z-index: 9;
            span{
                color: $color_white;
                opacity: .8;
            }
            ul{
                background-color: $elements_dark;
                box-shadow: 1px 1px 7px $shadow_dark;

                > li{
                    color: $color_white;
                    opacity: .9;
                    &:hover{
                        background-color: $bg_dark;
                    }
                }
            }
        }
    }

    .content_select{
        grid-column-start: 3;
    }
}

.content_search{
    color: $input_light;
    i {
        margin-right: 1em;
    }
}

/* Filter by region */
.content_select div{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    ul{
        position: absolute;
        top: 0;
        left: -1.5em;
        margin-top:35%;
        width: 100%;
        padding: 1em 1.5em;
        background-color: $color_white;
        box-shadow: 1px 1px 7px $shadow_light;

        > li:hover{
            background-color: $bg_light;
        }
    }
} 

/* Input Search */
#input_countrie{
    border: none;
    padding: 0;
    
    &:focus{
        outline: none;
    }
}



/* ---------- */
/*    Cards   */
/* ---------- */

.content_countries{
    display: grid;
    // Size row
    grid-auto-rows: auto;
    grid-template-columns: repeat(12,1fr);

    /* gap: row-gap | column-gap  */
    gap: 40px 5%;

    &.dark-mode .card{
        background-color: $elements_dark;
        box-shadow: 2px 2px 7px $shadow_dark;
        color: $color_white;
        opacity: .9;
        transition: background-color, box-shadow, color .2s;
        
    }

    .card{
        height: 350px;
        background-color: $color_white;
        grid-column-end: span 3;
        box-shadow: 2px 2px 7px $shadow_light;
        border-radius: 5px;

        .content_image{
            height: 50%;
            
            img{
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                height: 100%;
                width: 100%;
                object-fit: cover;
                object-position: top;
            }
        }

        .content_text{
            height: 50%;
            padding: 1.5em;

            h2{
                font-size: 1.5em;
                font-weight: 600;
                margin-bottom: .8em;
            }
            > p {
                margin-bottom: .5em;
                span{
                    font-weight: 600;
                }
            }
        }
    }
}





/* -------------------------------- */
/* ------------ MOBILE ------------ */
/* -------------------------------- */
// Front mentor
/* @media only screen and (max-width: 375px) */

@media only screen and (max-width: 475px) {
    
    /* Header */
    header .header__contentNav{
        padding: 1.5em 0;

        .content_title h1{
            font-size: 1.1em
        }

        .content_mode p{
            font-size: 1em;
        }
    }
    
    .content_filters{
        margin-top: 1.8em;
        row-gap: 2.2em;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;

        .content_select{
            grid-column-start: 1;
            grid-row-start: 2;
            width: 60%;

            div ul{
                margin-top: 25%;
            }
        }
        
    }
 
    /* Main */
    .content_countries{
        row-gap: 3em;

        .card{
            grid-column-end: span 12;
            height: 400px;

            .content_image{
                height: 60%;
                img{
                    object-fit: fill;
                    object-position: center;
                }
            }

            .content_text{
                height: 40%;
            }
        }
    }
}