/* 
    Colors
*/
$bg_light: hsl(0, 0%, 98%); // Very Dark Blue (Dark Mode Background)
$bg_dark: hsl(207, 26%, 17%); // Dark Blue (Dark Mode Elements)
$elements_dark: hsl(209, 23%, 22%); // Dark Blue (Dark Mode Elements)
$color_white: hsl(0, 0%, 100%); // Dark Mode Text & Light Mode Elements
$text_light: hsl(200, 15%, 8%); // Very Dark Blue (Light Mode Text)
$input_light: hsl(0, 0%, 52%); // Dark Gray (Light Mode Input)


/* 
    Typography
*/

// Body
/* 
- Homepage Items: 14px
- Detail Page: 16px  
*/

// Font
/* 
Weights: 300, 600, 800 
*/

/* Reset CSS */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    
}

body{
    font-family: 'Outfit', sans-serif;
    font-size: 14px;
    background-color: $bg_light;
    font-weight: 300;
}

li{
    list-style: none;
}

.d-none{
    display: none;
}

// For test
.bg-gray{
    background-color: gray;
}
.bg-black{
    background-color: #000;
}
.bg-white{
    background-color: #fff;
}
.bg-orange{
    background-color: orange;
}

/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */
/* ---------------------------------- */


/* 
    Header 
*/
.container{
    margin: auto;
    width: 90%;
}

header{
    background-color: $color_white;
    box-shadow: 0 1px 5px rgb(220, 220, 220);
    padding: 1.5% 0;
}
.header__contentNav{
    display: flex;
    justify-content: space-between;

    .content_title h1{
        font-weight: 700;
        font-size: 1.6em;
    }

    .content_mode{
        display: flex;
        flex-direction: column;
        justify-content: center;
        > p {
            &:hover{
                cursor: pointer;
            }
        }
        p{
            font-size: 1.1em;
            font-weight: 500;
        }
        i {
            margin-right: .3em;
        }

        p.active {
            display: none;
        }

        
    }
}



/* 
    Main
*/

.content_filters{
    margin: 3em 0;

    display: grid;
    grid-template-columns: 40% 1fr 15%;

    > div{
        background-color: $color_white;
        padding: 1.5em;
        box-shadow: 1px 1px 7px rgb(230, 230, 230);
        border-radius: 5px;
        
    }

    .content_select{
        grid-column-start: 3;
    }
}

.content_search p{
    color: $input_light;

    i {
        margin-right: 1em;
    }
}

.content_select div{
    display: flex;
    justify-content: space-between;
    position: relative;
    cursor: pointer;

    ul{
        position: absolute;
        top: 0;
        left: -1.5em;
        margin-top:35%;
        width: 100%;
        padding: 1em 1.5em;
        background-color: $color_white;
        box-shadow: 1px 1px 7px rgb(230, 230, 230);

        > li:hover{
            background-color: $bg_light;
        }
    }
} 
